apiVersion: apps/v1
kind: Deployment
metadata:
  name: pacman-kikd
spec:
  template:
    spec:
      containers:
        - name: pacman-kikd
          env:
            - name: ENVIRONMENT
              value: "prod"
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
